body {
  margin: 0;
}

.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  opacity: 1;
  transition: all 1s;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}

.product_post {
  padding: 20px;
}

input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up {
  margin-top: 30%;
  box-sizing: border-box;
  width: 400px;
  height: 650px;
  padding: 40px;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: auto;
  justify-content: center;
}

.sign-up_h1 {
  text-align: center;
  color: #f27405;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sign-up_form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-up_btn {
  width: 318.4px;
  height: 40px;
  font-size: 1rem;
  padding: 0px;
  margin-top: 20px;
  color: white;
  background-color: #f27405;
  cursor: pointer;
}

.sign-up_a {
  font-size: 14px;
  color: #f27405;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  background-color: #f2b705;
  padding: 20px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.logo {
  font-weight: bold;
}
